Experiencia2/EmpresaCliente/Connected Services/ServiceReference1/WSCategorias.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCategorias">
        <s:complexType />
      </s:element>
      <s:element name="GetCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCategoriasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:GetCategorias" />
  </wsdl:message>
  <wsdl:message name="GetCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:GetCategoriasResponse" />
  </wsdl:message>
  <wsdl:portType name="WSCategoriasSoap">
    <wsdl:operation name="GetCategorias">
      <wsdl:input message="tns:GetCategoriasSoapIn" />
      <wsdl:output message="tns:GetCategoriasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCategoriasSoap" type="tns:WSCategoriasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategorias">
      <soap:operation soapAction="http://tempuri.org/GetCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCategoriasSoap12" type="tns:WSCategoriasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategorias">
      <soap12:operation soapAction="http://tempuri.org/GetCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCategorias">
    <wsdl:port name="WSCategoriasSoap" binding="tns:WSCategoriasSoap">
      <soap:address location="https://localhost:44318/WSCategorias.asmx" />
    </wsdl:port>
    <wsdl:port name="WSCategoriasSoap12" binding="tns:WSCategoriasSoap12">
      <soap12:address location="https://localhost:44318/WSCategorias.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>